#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  nginx:
    #image: lscr.io/linuxserver/nginx:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        LINUXSERVER_NGINX_VERSION: ${LINUXSERVER_NGINX_VERSION:-{{ nginx_linuxserver_nginx_version }}}
    pull_policy: build
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    environment:
      - PUID={{ target_user_uid | default(ansible_user_uid) }}
      - PGID={{ target_user_gid | default(ansible_user_gid) }}
      - TZ={{ timezone | default('UTC') }}

    volumes:
      - ./config:/config

      {% for item in nginx_app_volumes %}
      - {{ item.src | default(item) }}:{{
          item.dest | default('/app/' ~ (
            item.src | default(item) | basename
          ))
        }}
      {% endfor %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
